In [ ]:
# Add pandas dependencies
import os
import pandas as pd
import numpy as np

In [ ]:
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [528]:
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(15)

In [ ]:
school_data_df.count()

In [ ]:
student_data_df.count()

In [ ]:
school_data_df.isnull()

In [ ]:
school_data_df.isnull().sum()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
student_data_df.isnull().sum()

## Correct Student Names Removing Professional Prefixes and Suffixes

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df

In [ ]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Get the number of schools
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# Get the school count from the merged dataframe
school_count2 = school_data_complete_df["school_name"].unique()
school_count2

In [ ]:
# Get the total budget
total_budget =  school_data_df["budget"].sum()
total_budget

In [522]:
# Calculate average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [523]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [525]:
# Calcualte how many passed math and reading
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count = passing_math["Student ID"].count()
# Students who passed reading:
passing_reading= school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading_count = passing_reading["Student ID"].count()
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [527]:
# Calculate percentage of students to pass math
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate percentage of students to pass reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print("Passing math percentage = " + str(passing_math_percentage))
print("Passing reading percentage = " + str(passing_reading_percentage))

Passing math percentage = 74.9808526933878
Passing reading percentage = 85.80546336482001

In [530]:
# Calculate overall number of students to pass math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count
# Calculate percentage of students to pass math and reading
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [ ]:
# Adding a dictionary to convert into dataframe
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count,
"Total Students": student_count,
"Total Budget": total_budget,
"Average Math Score": average_math_score,
"Average Reading Score": average_reading_score,
"% Passing Math": passing_math_percentage,
"% Passing Reading": passing_reading_percentage,
"% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# Add a thousands seperator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

In [ ]:
# Add dollar sign, thousands seperator and 2 decinal places
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

In [ ]:
district_summary_df

In [ ]:
new_column_order = ["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", 
"% Passing Math", "% Passing Reading", "% Overall Passing"]
district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
per_school_types= school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
df = pd.DataFrame(per_school_types)
df

In [ ]:
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
per_school_capita = per_school_budget / per_school_counts 
per_school_capita

In [ ]:
student_school_name = student_data_df.set_index(["school_name"])["math_score"]
student_school_name

In [ ]:
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
print(per_school_math)
print(per_school_reading)

In [ ]:
# Calculate passing scores by creating a filtered dataframe
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_math

In [ ]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
print("Math: " + str(per_school_passing_math))
print("Reading: " + str(per_school_passing_reading))

In [ ]:
# Calculate the percentage of student passing math and reading at each school
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
per_school_passing_math

In [ ]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
"School Type": per_school_types,
"Total Students": per_school_counts,
"Total School Budget": per_school_budget,
"Per Student Budget": per_school_capita,
"Average Math Score": per_school_math,
"Average Reading Score": per_school_reading,
"% Passing Math": per_school_passing_math,
"% Passing Reading": per_school_passing_reading,
"% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

In [ ]:
 per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

In [ ]:
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools.head()

In [ ]:
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = True)
bottom_schools.head()

In [ ]:
ninth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '9th')]
tenth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '10th')]
eleventh_graders = school_data_complete_df[(school_data_complete_df['grade'] == '11th')]
twelfth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '12th')]
print(twelfth_graders)

In [ ]:
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores

In [ ]:
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores

In [ ]:
math_scores_by_grade = pd.DataFrame({
"9th": ninth_grade_math_scores,
"10th": tenth_grade_math_scores,
"11th": eleventh_grade_math_scores,
"12th": twelfth_grade_math_scores})
math_scores_by_grade

In [ ]:
reading_scores_by_grade = pd.DataFrame({
"9th": ninth_grade_reading_scores,
"10th": tenth_grade_reading_scores,
"11th": eleventh_grade_reading_scores,
"12th": twelfth_grade_reading_scores})
reading_scores_by_grade

In [ ]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.head()

In [ ]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()

In [ ]:
# Get the descriptive statistics for per_school_capita
per_school_capita.describe()

In [ ]:
spending_bins = [0, 585, 630, 645, 675]
pd.cut(per_school_capita, spending_bins)

In [ ]:
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [ ]:
# Categorize spending based on the bins
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels= group_names)
per_school_summary_df

In [ ]:
    # Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
overall_passing_spending

In [ ]:
# Assemble into DataFrame. 
spending_summary_df = pd.DataFrame({
"Average Math Score" : spending_math_scores,
"Average Reading Score": spending_reading_scores,
"% Passing Math": spending_passing_math,
"% Passing Reading": spending_passing_reading,
"% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
size_bins = [0, 1000, 2000, 5000]
group_names =["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)
per_school_summary_df.head()

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
"Average Math Score" : size_math_scores,
"Average Reading Score": size_reading_scores,
"% Passing Math": size_passing_math,
"% Passing Reading": size_passing_reading,
"% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

In [ ]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
"Average Math Score" : type_math_scores,
"Average Reading Score": type_reading_scores,
"% Passing Math": type_passing_math,
"% Passing Reading": type_passing_reading,
"% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
# Formatting
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

## Replace Thomas High School Grade 9 Reading and Math Scores with NaN

In [ ]:
# Get Thomas High School grade 9 students
foo_df = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th")]

In [ ]:
# Set math values to NaN
foo_df["math_score"] = np.nan

In [ ]:
# Set reading values to NaN
foo_df["reading_score"] = np.nan

In [ ]:
# Merge series with updated math and reading values back with student_data_df
student_data_df.loc[student_data_df["Student ID"].isin(foo_df["Student ID"]), ['reading_score', 'math_score']]=foo_df.loc[foo_df["Student ID"].isin(student_data_df["Student ID"]), ['reading_score', 'math_score']].values

In [ ]:
# Show updated student_data_df
student_data_df.tail()

In [ ]:
# Uncomment the following line to see all grade 9 reading and math values have changed
# print(student_data_df[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th")])

## Merge student_data_df and school_data_df

In [515]:
# Merge the cleaned student data with school data
mg_student_school_df = pd.merge(student_data_df, school_data_df, on=["school_name"])
mg_student_school_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

## Recreate District DataFrame

### District Data Frame

In [517]:
# Get the number of students
ch_student_count = mg_student_school_df["Student ID"].count()
ch_student_count

39170

In [518]:
# Get the number of schools
ch_school_count = school_data_df["school_name"].count()
ch_school_count

15

In [519]:
# Get the total budget
ch_total_budget =  school_data_df["budget"].sum()
ch_total_budget

24649428

In [520]:
# Calculate average math score
ch_average_math_score = mg_student_school_df["math_score"].mean()
ch_average_math_score

78.93053295099331

In [521]:
# Calculate the average reading score
ch_average_reading_score = mg_student_school_df["reading_score"].mean()
ch_average_reading_score

81.85579580976001

In [524]:
# Calcualte how many passed math and reading
ch_passing_math = mg_student_school_df[mg_student_school_df["math_score"] >= 70]
ch_passing_math_count = ch_passing_math["Student ID"].count()
# Students who passed reading:
ch_passing_reading= mg_student_school_df[mg_student_school_df["reading_score"] >=70]
ch_passing_reading_count = ch_passing_reading["Student ID"].count()
print(ch_passing_math_count)
print(ch_passing_reading_count)

28939
33158

In [526]:
# Calculate percentage of students to pass math
ch_passing_math_percentage = ch_passing_math_count / float(ch_student_count) * 100

# Calculate percentage of students to pass reading
ch_passing_reading_percentage = ch_passing_reading_count / float(ch_student_count) * 100
print("Passing math percentage = " + str(ch_passing_math_percentage))
print("Passing reading percentage = " + str(ch_passing_reading_percentage))

Passing math percentage = 73.88052080673985
Passing reading percentage = 84.65151901965791

In [529]:
# Calculate overall number of students to pass math and reading
ch_passing_math_reading = mg_student_school_df[(mg_student_school_df["math_score"] >= 70) & (mg_student_school_df["reading_score"] >= 70)]
ch_overall_passing_math_reading_count = ch_passing_math_reading["student_name"].count()
ch_overall_passing_math_reading_count
# Calculate percentage of students to pass math and reading
ch_overall_passing_percentage = ch_overall_passing_math_reading_count / ch_student_count * 100
ch_overall_passing_percentage

64.09241766658157

In [531]:
# Adding a dictionary to convert into dataframe
ch_district_summary_df = pd.DataFrame(
[{"Total Schools": ch_school_count,
"Total Students": ch_student_count,
"Total Budget": ch_total_budget,
"Average Math Score": ch_average_math_score,
"Average Reading Score": ch_average_reading_score,
"% Passing Math": ch_passing_math_percentage,
"% Passing Reading": ch_passing_reading_percentage,
"% Overall Passing": ch_overall_passing_percentage}])

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.930533,81.855796,73.880521,84.651519,64.092418

In [534]:
# Add a thousands seperator
ch_district_summary_df["Total Students"] = ch_district_summary_df["Total Students"].map("{:,}".format)

In [535]:
# Add dollar sign, thousands seperator and 2 decinal places
ch_district_summary_df["Total Budget"] = ch_district_summary_df["Total Budget"].map("${:,.2f}".format)

In [536]:
ch_new_column_order = ["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", 
"% Passing Math", "% Passing Reading", "% Overall Passing"]
ch_district_summary_df = ch_district_summary_df[ch_new_column_order]

In [537]:
ch_district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.930533,81.855796,73.880521,84.651519,64.092418

In [538]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326