In [15]:
import pandas as pd
import os
import pytablewriter
from io import StringIO

In [18]:
df_to_load = os.path.join("Resources","ch_district_summary_df.csv")
og_to_load = os.path.join("Resources", "district_summary_df.csv")
ch_df = pd.read_csv(df_to_load)
og_df = pd.read_csv(og_to_load)

   Total Schools Total Students    Total Budget  Average Math Score  \
0             15         39,170  $24,649,428.00           78.930533

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0              81.855796       73.880521          84.651519          64.092418
   Total Schools Total Students    Total Budget  Average Math Score  \
0             15         39,170  $24,649,428.00           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

In [20]:
ch_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.930533,81.855796,73.880521,84.651519,64.092418

In [21]:
og_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [19]:
writer = pytablewriter.MarkdownTableWriter()
writer.table_name = "Corrected District DataFrame"
writer.header_list = list(ch_df.columns.values)
writer.value_matrix = ch_df.values.tolist()
writer.write_table()

# Corrected District DataFrame
|Total Schools|Total Students| Total Budget |Average Math Score|Average Reading Score|% Passing Math|% Passing Reading|% Overall Passing|
|------------:|--------------|--------------|-----------------:|--------------------:|-------------:|----------------:|----------------:|
|           15|39,170        |$24,649,428.00|             78.93|                81.86|         73.88|            84.65|            64.09|

# Corrected District DataFrame
|Total Schools|Total Students| Total Budget |Average Math Score|Average Reading Score|% Passing Math|% Passing Reading|% Overall Passing|
|------------:|--------------|--------------|-----------------:|--------------------:|-------------:|----------------:|----------------:|
|           15|39,170        |$24,649,428.00|             78.93|                81.86|         73.88|            84.65|            64.09|

In [24]:
writer = pytablewriter.MarkdownTableWriter()
writer.table_name = "Original District DataFrame"
writer.header_list = list(og_df.columns.values)
writer.value_matrix = og_df.values.tolist()
writer.write_table()

# Original District DataFrame
|Total Schools|Total Students| Total Budget |Average Math Score|Average Reading Score|% Passing Math|% Passing Reading|% Overall Passing|
|------------:|--------------|--------------|-----------------:|--------------------:|-------------:|----------------:|----------------:|
|           15|39,170        |$24,649,428.00|             78.99|                81.88|         74.98|            85.81|            65.17|